*,*::before,*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.overall{
    display: hidden;
    z-index: 2;
    background-color: greenyellow;
    visibility: visible;
    position: absolute;
    border:2px solid white;
    border-radius: 5%;
}