*,*::before,*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
section{
    padding:0rem 0;
}
.container{
    background-color: greenyellow;
}
button{
    background-color: greenyellow;
}
.options{
    list-style-type:none;
}
.overall{
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: greenyellow;
    visibility: visible;
    position: absolute;
    border:2px solid white;
    border-radius: 5%;
    width: 50%;
    font-size: 1.2rem;
    animation: visibility 5s;

    
}
.menu:hover{
    visibility: visible;
}